USE [linnworks]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [lw].[final_orderitems](
	[final_sku] [nvarchar](255) NOT NULL,
	[final_quantity] [int] NOT NULL,
	[final_price] [decimal](18, 2) NOT NULL,
	[final_cost] [decimal](18, 2) NOT NULL,
	[order_date] [datetime] NULL,
	[final_date] [datetime] NULL,
	[kitsku] [varchar](50) NULL,
	[source] [nvarchar](50) NULL,
	[title] [nvarchar](255) NULL,
	[OrderId] [nvarchar](255) NULL,
	[LocationId] [nvarchar](100) NULL,
	[TotalFinalPrice] [decimal](18, 2) NULL,
	[TotalFinalCost] [decimal](18, 2) NULL
) ON [PRIMARY]
GO
