USE [linnworks]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [lw].[ItemSupplier](
	[fkStockItemId] [uniqueidentifier] NULL,
	[fkSupplierId] [uniqueidentifier] NULL,
	[rowid] [uniqueidentifier] NULL,
	[IsDefault] [bit] NULL,
	[SupplierCode] [nvarchar](255) NULL,
	[SupplierCode2] [nvarchar](255) NULL,
	[SupplierBarcode] [nvarchar](255) NULL,
	[LeadTime] [int] NULL,
	[KnownPurchasePrice] [float] NULL,
	[AvgPurchasePrice] [float] NULL,
	[AvgLeadTime] [float] NULL,
	[MaxLeadTime] [float] NULL,
	[MinOrder] [int] NULL,
	[OnHand] [float] NULL,
	[MinPurchasePrice] [float] NULL,
	[MaxPurchasePrice] [float] NULL,
	[AvgPurchaseQty] [float] NULL,
	[SupplierMinOrderQty] [int] NULL,
	[SupplierPackSize] [int] NULL,
	[LeadTimeVector] [varchar](215) NULL
) ON [PRIMARY]
GO
