USE [linnworks]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [lw].[ItemLocation](
	[fkStockItemId] [uniqueidentifier] NULL,
	[fkLocationId] [uniqueidentifier] NULL,
	[BinRackNumber] [nvarchar](64) NULL,
	[rowid] [uniqueidentifier] NOT NULL
) ON [PRIMARY]
GO
