USE [linnworks]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [lw].[ListCountries](
	[pkCountryId] [uniqueidentifier] NULL,
	[cCountry] [nvarchar](64) NULL,
	[cContinent] [nvarchar](64) NULL,
	[cCurrency] [nvarchar](50) NULL,
	[nPostageCostPerKg] [float] NULL,
	[cCountryCode] [varchar](3) NULL,
	[rowguid] [uniqueidentifier] NULL,
	[TaxRate] [float] NULL,
	[bLogicalDelete] [bit] NULL,
	[AddressFormat] [varchar](600) NULL,
	[CustomsRequired] [bit] NULL
) ON [PRIMARY]
GO
ALTER TABLE [lw].[ListCountries] ADD  DEFAULT (newid()) FOR [rowguid]
GO
