CREATE TABLE [linnworks].[lw].[Orders](
	[pkOrderId] [uniqueidentifier] NOT NULL,
	[cFullName] [nvarchar](255) NULL,
	[cEmailAddress] [nvarchar](255) NULL,
	[cPostcode] [nvarchar](10) NULL,
	[dReceivedDate] [datetime] NULL,
	[dDispatchBy] [datetime] NULL,
	[dProcessedOn] [datetime] NULL,
	[fPostageCost] [decimal](18, 2) NULL,
	[fTotalCharge] [decimal](18, 2) NULL,
	[RPDiscount] [decimal](18, 2) NULL,
	[cCurrency] [nvarchar](10) NULL,
	[nOrderId] [int] NULL,
	[bReplace] [bit] NULL,
	[Source] [nvarchar](100) NULL,
	[bProcessed] [bit] NULL,
	[fTax] [decimal](18, 2) NULL,
	[fkCountryId] [uniqueidentifier] NULL,
	[fkPostalServiceId] [uniqueidentifier] NULL,
	[fkPackagingGroupId] [uniqueidentifier] NULL,
	[ReferenceNum] [nvarchar](50) NULL,
	[ExternalReference] [nvarchar](50) NULL,
	[PostalTrackingNumber] [nvarchar](100) NULL,
	[CreateOnly] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[Address1] [nvarchar](255) NULL,
	[Address2] [nvarchar](255) NULL,
	[Address3] [nvarchar](255) NULL,
	[Town] [nvarchar](100) NULL,
	[Region] [nvarchar](100) NULL,
	[LifeStatus] [nvarchar](50) NULL,
	[BuyersPhoneNumber] [nvarchar](50) NULL,
	[Company] [nvarchar](255) NULL,
	[SubSource] [nvarchar](100) NULL,
	[AddressVerified] [bit] NULL,
	[Subtotal] [decimal](18, 2) NULL,
	[PostageCostExTax] [decimal](18, 2) NULL,
	[CountryTaxRate] [decimal](5, 2) NULL,
	[RecalculateTaxRequired] [bit] NULL,
	[ChannelBuyerName] [nvarchar](255) NULL,
	[HoldOrCancel] [nvarchar](50) NULL,
	[Weight] [decimal](18, 2) NULL,
	[TotalDiscount] [decimal](18, 2) NULL,
	[fkBankId] [uniqueidentifier] NULL,
	[FulfillmentLocationId] [uniqueidentifier] NULL,
	[SecondaryReferenceNum] [nvarchar](50) NULL,
	[PostalServiceCost] [decimal](18, 2) NULL,
	[FulfillmentCenterAcknowledge] [bit] NULL,
	[PostageDiscount] [decimal](18, 2) NULL,
	[ConversionRate] [decimal](18, 6) NULL,
PRIMARY KEY CLUSTERED 
(
	[pkOrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO