USE [linnworks]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [lw].[Order_sales](
	[OrderDate] [datetime] NULL,
	[ItemID] [nvarchar](255) NULL,
	[UnitCost] [decimal](18, 4) NULL,
	[TotalCost] [decimal](18, 4) NULL,
	[UnitPrice] [decimal](18, 4) NULL,
	[TotalPrice] [decimal](18, 4) NULL,
	[UnitTax] [decimal](18, 4) NULL,
	[TotalTax] [decimal](18, 4) NULL,
	[TotalIncTax] [decimal](18, 4) NULL,
	[Quantity] [int] NULL,
	[SubItemSKU] [nvarchar](255) NULL,
	[SubItemUnitCost] [decimal](18, 4) NULL,
	[SubItemQty] [int] NULL,
	[fkOrderId] [nvarchar](255) NULL,
	[FkLocationId] [nvarchar](255) NULL,
	[ItemSource] [varchar](100) NULL,
	[fkStockItemId] [nvarchar](255) NULL,
	[Source] [varchar](100) NULL,
	[DispatchDate] [datetime] NULL
) ON [PRIMARY]
GO
