USE [linnworks]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [lw].[Open_OrderItem](
	[rowid] [uniqueidentifier] NOT NULL,
	[fkOrderId] [uniqueidentifier] NULL,
	[fPricePerUnit] [float] NULL,
	[nQty] [int] NULL,
	[ItemNumber] [nvarchar](120) NULL,
	[fkLocationId] [uniqueidentifier] NULL,
	[fkCompositeParentRowId] [uniqueidentifier] NULL,
	[ChannelSKU] [varchar](255) NULL,
	[fkStockItemId] [uniqueidentifier] NULL,
	[SalesTax] [float] NULL,
	[TaxRate] [float] NULL,
	[TaxCostInclusive] [bit] NULL,
	[Cost] [float] NULL,
	[CostIncTax] [float] NULL,
	[PartShipped] [bit] NULL,
	[LineDiscount] [float] NULL,
	[IsService] [bit] NULL,
	[ItemSource] [varchar](64) NULL,
	[PartShippedQty] [int] NULL,
	[OriginalTitle] [nvarchar](1000) NULL,
	[AffectingStockLevel] [int] NULL,
	[AvailableStock] [int] NULL,
	[fkStockId] [uniqueidentifier] NULL,
	[fkImageId] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[rowid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
