USE [linnworks]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [lw].[Order_AdditionalInfo](
	[fkOrderId] [uniqueidentifier] NULL,
	[BillingName] [nvarchar](255) NULL,
	[BillingCompany] [nvarchar](255) NULL,
	[BillingAddress1] [nvarchar](255) NULL,
	[BillingAddress2] [nvarchar](255) NULL,
	[BillingAddress3] [nvarchar](255) NULL,
	[BillingTown] [nvarchar](255) NULL,
	[BillingRegion] [nvarchar](255) NULL,
	[BillingPostcode] [nvarchar](255) NULL,
	[BillingCountryName] [nvarchar](255) NULL,
	[dPaidOn] [datetime] NULL,
	[BillingPhoneNumber] [nvarchar](255) NULL,
	[CancellationReason] [varchar](25) NULL,
	[BillingEmailAddress] [nvarchar](255) NULL,
	[DeliveryStartDate] [datetime2](7) NULL,
	[DeliveryEndDate] [datetime2](7) NULL
) ON [PRIMARY]
GO
