USE [linnworks]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [lw].[OrderItem](
	[Rowid] [uniqueidentifier] NOT NULL,
	[fkOrderId] [uniqueidentifier] NOT NULL,
	[fkStockId] [uniqueidentifier] NULL,
	[fPricePerUnit] [float] NULL,
	[nQty] [int] NULL,
	[ItemNumber] [nvarchar](120) NULL,
	[fkLocationId] [uniqueidentifier] NULL,
	[fkCompositeParentRowId] [uniqueidentifier] NULL,
	[ChannelSKU] [varchar](255) NULL,
	[fkStockItemId_processed] [uniqueidentifier] NULL,
	[DispatchStockUnitCost] [float] NULL,
	[ShippingCost] [float] NULL,
	[SalesTax] [float] NULL,
	[TaxRate] [float] NULL,
	[TaxCostInclusive] [varchar](5) NULL,
	[Cost] [float] NULL,
	[CostIncTax] [float] NULL,
	[PartShipped] [varchar](5) NULL,
	[LineDiscount] [float] NULL,
	[IsService] [varchar](5) NULL,
	[ItemSource] [varchar](64) NULL,
	[PartShippedQty] [int] NULL,
	[ChannelTitle] [nvarchar](255) NULL,
	[fkStockItemId] [uniqueidentifier] NULL,
	[ContainsComposites] [varchar](5) NULL,
	[etl_source] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Rowid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
