USE [linnworks]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [lw].[OrderPackaging](
	[fkOrderId] [uniqueidentifier] NULL,
	[ItemWeight] [float] NULL,
	[fkPackagingTypeId] [uniqueidentifier] NULL,
	[PackagingWeight] [float] NULL,
	[TotalWeight] [float] NULL,
	[CalcError] [nvarchar](255) NULL,
	[ManualAdjust] [bit] NULL,
	[ErrorState] [tinyint] NULL,
	[LabelId] [varchar](64) NULL,
	[fkPostageFileId] [uniqueidentifier] NULL,
	[TotalHeight] [decimal](18, 2) NULL,
	[TotalWidth] [decimal](18, 2) NULL,
	[TotalDepth] [decimal](18, 2) NULL,
	[SplitPackageCount] [int] NULL
) ON [PRIMARY]
GO
