USE [linnworks]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [lw].[PostalServices](
	[pkPostalServiceId] [uniqueidentifier] NOT NULL,
	[PostalServiceName] [varchar](255) NULL,
	[PostalServiceTag] [varchar](2000) NULL,
	[ServiceCountry] [varchar](64) NULL,
	[PostalServiceCode] [varchar](255) NULL,
	[Vendor] [varchar](64) NULL,
	[TrackingNumberRequired] [nvarchar](500) NULL,
	[bLogicalDelete] [bit] NULL,
	[WeightRequired] [bit] NULL,
	[PrintModule] [varchar](600) NULL,
	[PrintModuleTitle] [varchar](64) NULL,
	[IgnorePackagingGroup] [bit] NULL,
	[rowguid] [uniqueidentifier] NULL,
	[fkShippingAPIConfigId] [int] NULL,
	[IntegratedServiceId] [uniqueidentifier] NULL
) ON [PRIMARY]
GO
