USE [linnworks]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [lw].[PackageGroups](
	[PackageCategoryId] [uniqueidentifier] NULL,
	[PackageCategory] [varchar](64) NULL,
	[bLogicalDelete] [bit] NULL,
	[rowguid] [uniqueidentifier] NULL,
	[PreferenceIndex] [int] NULL
) ON [PRIMARY]
GO
