USE [linnworks]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [lw].[PurchaseOrders](
	[pkPurchaseID] [uniqueidentifier] NOT NULL,
	[fkSupplierId] [uniqueidentifier] NULL,
	[fkLocationId] [uniqueidentifier] NULL,
	[ExternalInvoiceNumber] [nvarchar](255) NULL,
	[Status] [nvarchar](50) NULL,
	[Currency] [nvarchar](10) NULL,
	[SupplierReferenceNumber] [nvarchar](255) NULL,
	[Locked] [bit] NULL,
	[LineCount] [int] NULL,
	[DeliveredLinesCount] [int] NULL,
	[UnitAmountTaxIncludedType] [nvarchar](50) NULL,
	[DateOfPurchase] [datetime] NULL,
	[DateOfDelivery] [datetime] NULL,
	[QuotedDeliveryDate] [datetime] NULL,
	[PostagePaid] [float] NULL,
	[TotalCost] [float] NULL,
	[taxPaid] [float] NULL,
	[ShippingTaxRate] [float] NULL,
	[ConversionRate] [float] NULL,
	[ConvertedShippingCost] [float] NULL,
	[ConvertedShippingTax] [float] NULL,
	[ConvertedOtherCost] [float] NULL,
	[ConvertedOtherTax] [float] NULL,
	[ConvertedGrandTotal] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[pkPurchaseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
