USE [linnworks]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [lw].[purchasing](
	[fkSupplierID] [uniqueidentifier] NOT NULL,
	[contactname] [nvarchar](100) NULL,
	[suppliername] [nvarchar](150) NULL,
	[DateOfPurchase] [datetime] NULL,
	[ExternalInvoiceNumber] [nvarchar](50) NULL,
	[SKU] [nvarchar](50) NULL,
	[UnitCost] [decimal](18, 2) NULL,
	[Required_Qty] [int] NULL,
	[Received_Qty] [int] NULL,
	[TotalCost] [decimal](18, 2) NULL,
	[Due_In_Quantity] [int] NULL,
	[Status] [nvarchar](50) NULL,
	[DateOfDelivery] [datetime] NULL,
	[Qty] [int] NULL,
	[source] [nvarchar](100) NULL
) ON [PRIMARY]
GO
