USE [linnworks]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [lw].[Supplier](
	[pkSupplierId] [uniqueidentifier] NULL,
	[SupplierName] [nvarchar](255) NULL,
	[AddressLine1] [nvarchar](255) NULL,
	[AddressLine2] [nvarchar](255) NULL,
	[City] [nvarchar](100) NULL,
	[County] [nvarchar](64) NULL,
	[Country] [nvarchar](64) NULL,
	[ZipCode] [nvarchar](24) NULL,
	[TelNumber] [nvarchar](255) NULL,
	[FaxNumber] [nvarchar](255) NULL,
	[eMail] [nvarchar](255) NULL,
	[PrimaryWebSite] [nvarchar](255) NULL,
	[bLogicalDelete] [bit] NULL,
	[ContactName] [nvarchar](255) NULL,
	[SecondaryTelNumber] [nvarchar](255) NULL,
	[Currency] [nvarchar](3) NULL
) ON [PRIMARY]
GO
ALTER TABLE [lw].[Supplier] ADD  DEFAULT ((0)) FOR [bLogicalDelete]
GO
