USE [linnworks]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [lw].[StockLevel](
	[fkStockItemId] [uniqueidentifier] NULL,
	[fkStockLocationId] [uniqueidentifier] NULL,
	[Quantity] [int] NULL,
	[OnOrder] [int] NULL,
	[CurrentStockValue] [float] NULL,
	[MinimumLevel] [int] NULL,
	[AutoAdjust] [bit] NULL,
	[LastUpdateDate] [datetime] NULL,
	[LastUpdateOperation] [varchar](64) NULL,
	[rowid] [uniqueidentifier] NULL,
	[PendingUpdate] [bit] NULL,
	[InOrderBook] [int] NULL,
	[JIT] [bit] NULL
) ON [PRIMARY]
GO
