USE [linnworks]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [lw].[StockItemsFull](
	[StockLevel] [smallint] NULL,
	[StockValue] [float] NULL,
	[MinimumLevel] [tinyint] NULL,
	[InOrderBook] [bit] NULL,
	[Due] [int] NULL,
	[JIT] [nvarchar](50) NULL,
	[InOrders] [bit] NULL,
	[Available] [smallint] NULL,
	[UnitCost] [float] NULL,
	[AutoAdjust] [nvarchar](50) NULL,
	[LastUpdateDate] [nvarchar](50) NULL,
	[LastUpdateOperation] [nvarchar](100) NULL,
	[rowid] [nvarchar](50) NULL,
	[PendingUpdate] [nvarchar](50) NULL,
	[StockItemPurchasePrice] [float] NULL,
	[StockLevel_StockItemId] [nvarchar](50) NULL,
	[StockLevel_StockItemIntId] [tinyint] NULL,
	[Location_StockLocationId] [nvarchar](50) NULL,
	[Location_StockLocationIntId] [tinyint] NULL,
	[Location_LocationName] [nvarchar](50) NULL,
	[Location_LocationTag] [nvarchar](1) NULL,
	[Location_IsFulfillmentCenter] [bit] NULL,
	[Location_IsWarehouseManaged] [bit] NULL,
	[Location_BinRack] [nvarchar](50) NULL,
	[Suppliers] [nvarchar](50) NULL,
	[ItemChannelDescriptions] [nvarchar](50) NULL,
	[ItemExtendedProperties] [nvarchar](50) NULL,
	[ItemChannelTitles] [nvarchar](50) NULL,
	[ItemChannelPrices] [nvarchar](50) NULL,
	[Images] [nvarchar](50) NULL,
	[ItemNumber] [nvarchar](50) NULL,
	[ItemTitle] [nvarchar](max) NULL,
	[BarcodeNumber] [bigint] NULL,
	[MetaData] [nvarchar](max) NULL,
	[IsVariationParent] [nvarchar](50) NULL,
	[isBatchedStockType] [nvarchar](50) NULL,
	[PurchasePrice] [float] NULL,
	[TaxRate] [float] NULL,
	[PostalServiceId] [nvarchar](max) NULL,
	[CategoryId] [nvarchar](50) NULL,
	[CategoryName] [nvarchar](max) NULL,
	[PackageGroupId] [nvarchar](50) NULL,
	[Height] [float] NULL,
	[Width] [float] NULL,
	[Depth] [float] NULL,
	[Weight] [float] NULL,
	[CreationDate] [nvarchar](50) NULL,
	[InventoryTrackingType] [tinyint] NULL,
	[BatchNumberScanRequired] [nvarchar](50) NULL,
	[SerialNumberScanRequired] [nvarchar](50) NULL,
	[Item_StockItemId] [nvarchar](50) NULL,
	[Item_StockItemIntId] [tinyint] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
