USE [linnworks]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [lw].[StockItem](
	[pkStockItemID] [uniqueidentifier] NULL,
	[ItemTitle] [nvarchar](512) NULL,
	[ItemNumber] [nvarchar](255) NULL,
	[ItemDescription] [nvarchar](max) NULL,
	[CreationDate] [datetime] NULL,
	[bLogicalDelete] [bit] NULL,
	[RetailPrice] [float] NULL,
	[CategoryId] [uniqueidentifier] NULL,
	[Weight] [float] NULL,
	[PackageGroup] [uniqueidentifier] NULL,
	[BinRack] [varchar](64) NULL,
	[rowguid] [uniqueidentifier] NULL,
	[PurchasePrice] [float] NULL,
	[BarcodeNumber] [varchar](255) NULL,
	[DimHeight] [float] NULL,
	[DimWidth] [float] NULL,
	[DimDepth] [float] NULL,
	[ShippedSeparately] [bit] NULL,
	[TaxRate] [float] NULL,
	[fkPostalService] [uniqueidentifier] NULL,
	[bContainsComposites] [bit] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedUserName] [varchar](64) NULL,
	[ModifyAction] [varchar](16) NULL,
	[IsArchived] [bit] NULL,
	[IsVariationGroup] [bit] NULL,
	[InventoryTrackingType] [varchar](64) NULL,
	[SerialNumberScanRequired] [varchar](64) NULL,
	[BatchNumberScanRequired] [varchar](64) NULL,
	[Source] [nvarchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [lw].[StockItem] ADD  DEFAULT (getdate()) FOR [CreationDate]
GO
ALTER TABLE [lw].[StockItem] ADD  DEFAULT ((0)) FOR [bLogicalDelete]
GO
ALTER TABLE [lw].[StockItem] ADD  DEFAULT ((0)) FOR [ShippedSeparately]
GO
ALTER TABLE [lw].[StockItem] ADD  DEFAULT ((0)) FOR [bContainsComposites]
GO
ALTER TABLE [lw].[StockItem] ADD  DEFAULT (getdate()) FOR [ModifiedDate]
GO
ALTER TABLE [lw].[StockItem] ADD  DEFAULT ((0)) FOR [IsArchived]
GO
ALTER TABLE [lw].[StockItem] ADD  DEFAULT ((0)) FOR [IsVariationGroup]
GO
