USE [linnworks]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [lw].[StockLocation](
	[pkStockLocationId] [uniqueidentifier] NOT NULL,
	[Location] [nvarchar](255) NULL,
	[Address1] [nvarchar](100) NULL,
	[Address2] [nvarchar](100) NULL,
	[City] [nvarchar](100) NULL,
	[County] [nvarchar](64) NULL,
	[Country] [nvarchar](64) NULL,
	[ZipCode] [nvarchar](24) NULL,
	[bLogicalDelete] [bit] NULL,
	[IsNotTrackable] [bit] NULL,
	[LocationTag] [varchar](64) NULL,
	[IsFulfillmentCenter] [bit] NULL,
	[CountInOrderUntilAcknowledgement] [bit] NULL,
	[FulfilmentCenterDeductStockWhenProcessed] [bit] NULL,
	[IsWarehouseManaged] [bit] NULL
) ON [PRIMARY]
GO
