USE [linnworks]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [lw].[StockItem_ExtendedProperties](
	[pkRowid] [uniqueidentifier] NOT NULL,
	[fkStockItemId] [uniqueidentifier] NULL,
	[PropertyName] [nvarchar](50) NULL,
	[PropertyValue] [nvarchar](2000) NULL,
	[PropertyType] [varchar](50) NULL,
	[UserDefined] [bit] NULL,
	[fkParentRowid] [uniqueidentifier] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedUserName] [varchar](64) NULL
) ON [PRIMARY]
GO
