USE [linnworks]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [lw].[StockItems](
	[pkStockID] [nvarchar](100) NULL,
	[cItemNumber] [nvarchar](25) NULL,
	[cItemName] [nvarchar](max) NULL,
	[cDescription] [nvarchar](max) NULL,
	[fPricePerItem] [float] NULL,
	[fkStockControlStockItemId] [nvarchar](100) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
